.header_preloader {
    opacity: 0.2;
    top: -80px;
}

.header_loader {
    opacity: 1;
    top: 0;
}

.preloader {
   position: fixed;
    width: 100%;
    background-color: #2F75FF;
    z-index: 9999;
    opacity: 1;
    height: 100%;
    top: -100%;
    -webkit-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1);
    /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -moz-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -o-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -moz-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -o-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    /* custom */
}

.wrap {
    width: 100%;
    margin: 0 auto;
}

.wrap_cont {
    margin: 0 40px;
}

.material,
.solution {
    display: flex;
}
.title_preloader {
    transform: translateY(240px) rotateX(180deg) scale(0.6);
    opacity: 0;
}

.title_loader {
     transform: translateY(0px) rotateX(0deg) scale(1.0);
    opacity: 1.0;
    -webkit-transition: opacity 1000ms ease 100ms, transform 1000ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;
    -moz-transition: opacity 1000ms ease 100ms, transform 1000ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;
    -o-transition: opacity 1000ms ease 100ms, transform 1000ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;
    transition: opacity 1000ms ease 100ms, transform 1000ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;
    /* custom */
}

.about_cont {
    max-width: 1280px;
    min-height: 1024px;
    margin: 0 auto;
}

.about_title {
    width: 76.09375%;
    /*    max-width: 974px;*/
    margin: 0 auto;
    font-family: 'Montserrat', 'san-selif';
    font-weight: 700;
    font-size: 52px;
    color: #2F75FF;
    line-height: 63px;
    display: flex;
    flex-direction: column;
    padding-top: 164px;
}

.about_body {
    display: flex;
    justify-content: center;
    padding-top: 56px;
    padding-bottom: 72px;
}

.about_photo {
    width: 31.09375%;
    padding-top: 38.28125%;
    height: 0;
    margin-right: 2.34375%;
    background-color: gray;
    position: relative;
}

.about_photo img {
    max-width: 100%;
    position: absolute;
    top: 0;
}

.about_intro {
    width: 35.703125%;
    opacity: 0.87;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #393939;
    line-height: 36px;
    margin-left: 2.34375%;
}


.photo_preloader {
    transform: translateY(240px) rotateX(60deg);
    opacity: 0;
}

.photo_loader {
    transform: translateY(0px) rotateX(0deg);
    opacity: 1.0;
    -webkit-transition: all 700ms cubic-bezier(0.000, 0.000, 0.015, 0.995);
    -moz-transition: all 700ms cubic-bezier(0.000, 0.000, 0.015, 0.995);
    -o-transition: all 700ms cubic-bezier(0.000, 0.000, 0.015, 0.995);
    transition: all 700ms cubic-bezier(0.000, 0.000, 0.015, 0.995);
    /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.015, 0.995);
    -moz-transition-timing-function: cubic-bezier(0.000, 0.000, 0.015, 0.995);
    -o-transition-timing-function: cubic-bezier(0.000, 0.000, 0.015, 0.995);
    transition-timing-function: cubic-bezier(0.000, 0.000, 0.015, 0.995);
}

.body_preloader {
    transform: translateY(40px);
    opacity: 0;
}

.body_loader {
    transform: translateY(0px);
    opacity: 0.8;
    -webkit-transition: all 700ms cubic-bezier(0.000, 0.000, 0.015, 0.995);
    -moz-transition: all 700ms cubic-bezier(0.000, 0.000, 0.015, 0.995);
    -o-transition: all 700ms cubic-bezier(0.000, 0.000, 0.015, 0.995);
    transition: all 700ms cubic-bezier(0.000, 0.000, 0.015, 0.995);
    /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.015, 0.995);
    -moz-transition-timing-function: cubic-bezier(0.000, 0.000, 0.015, 0.995);
    -o-transition-timing-function: cubic-bezier(0.000, 0.000, 0.015, 0.995);
    transition-timing-function: cubic-bezier(0.000, 0.000, 0.015, 0.995);
    /* custom */
}

/* hi I'm MOONSOO */

.resume_blue {
    background-color: #2F75FF;
    height: 1160px;
}

.resume_guide {
    opacity: 0.6;
    color: white;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.resume_guide div {
    width: 6%;
    height: 1px;
    background-color: white;
    margin-right: 16px;
}

.about_resume_cont {
    padding-top: 124px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.resume_each {
    display: flex;
    width: 31.09375%;
    min-width: 351px;
}

.resume_margin {
    flex-basis: 47.837483%;
    flex-shrink: 9999;
}

.resume_each ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.resume_each ul li {
    display: flex;
    /*    align-items: center;*/
}

.resume_each ul li:not(:first-child) {
    padding-top: 104px;
}

.resume_each ul li img {
    padding-right: 8%;
}

.resume_title {
    font-family: 'Montserrat', 'san-selif';
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFFFFF;
    line-height: 49px;
}

.resume_line1 {
    /* transform: translateX(-100%); */
    width: 0;
    margin: 0 24px;
    background: white;
    height: 2px;
    margin-top: 32px;
    opacity: 0.6;
    -webkit-transition: all 800ms cubic-bezier(0.000, 0.000, 0.325, 1.000);
    -moz-transition: all 800ms cubic-bezier(0.000, 0.000, 0.325, 1.000);
    -o-transition: all 800ms cubic-bezier(0.000, 0.000, 0.325, 1.000);
    transition: all 800ms cubic-bezier(0.000, 0.000, 0.325, 1.000);
    /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.325, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.000, 0.000, 0.325, 1.000);
    -o-transition-timing-function: cubic-bezier(0.000, 0.000, 0.325, 1.000);
    transition-timing-function: cubic-bezier(0.000, 0.000, 0.325, 1.000);
    /* custom */
}

.resume_line2 {
    width: 0;
    margin: 0 24px;
    background: white;
    height: 2px;
    margin-top: 52px;
    opacity: 0.6;
    -webkit-transition: all 800ms cubic-bezier(0.000, 0.000, 0.325, 1.000);
    -moz-transition: all 800ms cubic-bezier(0.000, 0.000, 0.325, 1.000);
    -o-transition: all 800ms cubic-bezier(0.000, 0.000, 0.325, 1.000);
    transition: all 800ms cubic-bezier(0.000, 0.000, 0.325, 1.000);
    /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.325, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.000, 0.000, 0.325, 1.000);
    -o-transition-timing-function: cubic-bezier(0.000, 0.000, 0.325, 1.000);
    transition-timing-function: cubic-bezier(0.000, 0.000, 0.325, 1.000);
    /* custom */
}

.lineTo {
    width: 100%;
}

.resume_body_cont {
    width: 40.390625%;
}

.resume_body_cont ul {
    position: relative;
    width: 100%;
    height: 100%;
}

.resume_body_cont ul li {
    position: absolute;
    width: 100%;
}

.resume_body_cont ul li:first-child {
    top: 15px;
}


.resume_body_cont ul li:nth-child(2) {
    top: 168px;
}


.resume_body_cont ul li:nth-child(3) {
    top: 342px;
}


.resume_body_cont ul li:nth-child(4) {
    top: 544px;
}

.resume_body .title {
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    line-height: 36px;
    font-weight: 600;
    font-size: 1.125rem;
    color: #FFFFFF;

}

.resume_body .detail {
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    padding-top: 4px;
}

.resume_body .date {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 28px;
    color: #FFFFFF;
}

.resume_body * {
    -webkit-transition: all 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    /* ease-in-out */

    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.skill {
    display: flex;
    width: 100%;
}

.skill_cont {
    margin-right: 12.37911%;
}

.ResumeSlideDown {
    transform: translateY(30px);
    opacity: 0 !important;
}

.num {
    color: white;
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;

    -webkit-transition: all 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    /* ease-in-out */

    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.resume_num {
    transform: translateX(0);
    opacity: 0;
}

.resume_numUp {
    transform: translateX(-100%);
    opacity: 0.6;
}


@media(max-width:840px) {
    .about_title {
        width: 100%;
    }

    .about_body {
        flex-direction: column;
        padding-bottom: 96px;
    }

    .about_photo {
        width: 100%;
        padding-top: 122.5%;
        margin-right: 0;
        margin-bottom: 80px;
    }

    .about_intro {
        width: 100%;
        margin-left: 0;
    }

    .resume_blue{
        height: 1080px;
    }

    .about_resume_cont{
        padding-top: 96px;
    }

    .resume_each {
        min-width: 188px;
    }

    .resume_body_cont {
        width: 80%;
    }

    .resume_title {
        font-size: 1.5rem;
        line-height: 32px;
    }

    .lineTo {
        width: 0%;
    }

    .resume_numUp {
        transform: translateX(-60%);
    }

    .resume_body_cont ul li:first-child {
        top: 0;
    }

    .resume_body_cont ul li:nth-child(2) {
        top: 138px;
    }

    .resume_body_cont ul li:nth-child(3) {
        top: 280px;
    }

    .resume_body_cont ul li:nth-child(4) {
        top: 444px;
    }

    .num {
        width: 0;
    }

    .resume_numUp {
        transform: translateX(0);
        opacity: 0;
    }

    .resume_body .title {
        font-size: 1rem;
        line-height: 28px;
    }

    .resume_body .detail {
        font-size: 0.875rem;
        line-height: 24px;
    }

    .resume_body .date {
        font-size: 0.875rem;
        line-height: 32px;
    }

    .skill_cont {
        margin-right: 36px;
    }


}