body {
    overflow-x: hidden;
    /* background-color: #F6F6F6; */
}

a:visited {
    color: #000000;
}

header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;

    -webkit-transition: all 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -moz-transition: all 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -o-transition: all 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transition: all 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    /* easeInOutQuad */

    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    /* easeInOutQuad */
}

.header_cont {
    margin: 0 40px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 56px;
    height: 40px;
    display: flex;
    align-items: center;
    opacity: 0.9;
}

.header_nav ul {
    display: flex;
}

.header_nav ul li {
    height: 24px;
    margin-left: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.headerUp {
    transform: translateY(-80px);
}

.headerDown {
    transform: translateY(0);
}

.underline {
    background-image: linear-gradient(to right, #2F75FF, #2F75FF);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background 0.6s;
    display: inline-block;
    background-position: 0 1.3rem;
}

.underlineHovered {
    opacity: 1.0;
    color: #2F75FF;
    background-image: linear-gradient(to right, #2F75FF, #2F75FF);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: background 0.6s;
    display: inline-block;
    background-position: 0 1.3rem;
}

footer {
    width: 100%;
    background-color: #212121;
}

.footer_margin {
    margin: 0 40px;
}

.footer_cont {
    max-width: 1280px;
    padding: 84px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.footer_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2.34375%;
    width: 41.09375%;
}

.footer_logo {
    width: 64px;
    height: 30px;
}

.footer_copy {
    height: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 28px;
    opacity: 0.8;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
}

.footer_right {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin-left: 2.34375%;
    width: 41.09375%;
}

.footer_right ul li:not(:first-child) {
    opacity: 0.8;
}

.footer_right ul>* {
    height: 23px;
    display: flex;
    align-items: center;
}

.footer_right ul li:first-child {
    font-weight: 600;
}


.footer_right ul li:not(:first-child) {
    padding-top: 16px;
}

@media(max-width:800px) {
    .header_nav ul li {
        margin-left: 40px;
    }

    .footer_cont {
        flex-direction: column;
    }

    .footer_left {
        margin-right: 0;
        flex-direction: row;
        width: 100%;
    }

    .footer_right {
        padding-top: 48px;
        margin-left: 0;
        width: 100%;
    }
}


@media(max-width:640px) {
    .header_nav ul li {
        margin-left: 24px;
        font-size: 0.875rem;
    }
}