   body {
       background-color: #F9F9F9;
       /*       background-color: blue;*/
   }

   .preloader {
       position: absolute;
       width: 100%;
       height: 200%;
       background-color: #2F75FF;
       z-index: 9999;
       top: -200%;
   }

   .thumbnail {
       width: 100vw;
       height: 0;
       padding-top: 59.375%;
       position: relative;
       z-index: 1000;
       background-color: #070707;
   }

   .thumbnail img {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: 100%;
   }

   .gray {
       background-color: #f2f2f2;
   }

   .panel_wrap {
       width: 100%;
   }

   .panel_margin {
       margin: 0 6%;
   }

   .panel_cont {
       max-width: 1280px;
       margin: 0 auto;
   }

    .panel_cont {
       max-width: 1112px;
       margin: 0 auto;
   }

   /*        info*/
   .intro_cont {
       width: 100%;
       display: flex;
   }

   .intro_image {
       width: 280px;
   }

   .intro_image img {
       width: 100%;
   }

   .intro_info {
       display: flex;
       justify-content: space-between;

   }

   .intro_title {
       margin-right: 3.0800821%;
       width: calc(50% - 3.0800821%);
       display: flex;
       flex-direction: column;
       justify-content: space-between;
   }

   .intro_body {
       margin-left: 3.0800821%;
       width: calc(50% - 3.0800821%);
       display: flex;
       flex-direction: column;
   }

   .info_cont {
       display: flex;
   }

   .info_sub_title {
        opacity: 0.8;
       font-family: 'Google Sans', sans-serif;
       font-weight: 700;
       font-size: 1.125rem;
       line-height: 36px;
   }

   .info_sub_title_kr {
             opacity: 0.8;
       font-family: 'Noto Sans KR', sans-serif;
       font-size: 1.125rem;
       letter-spacing: -0.24px;
       line-height: 38px;
   }

   .info_sub_body {
       opacity: 0.6;
       font-family: 'Google Sans', sans-serif;
       font-size: 1.125rem;
       line-height: 36px;
   }

   /* 텍스트 */

   .panel_text_cont {
       max-width: 1280px;
       margin: 0 auto;
       display: flex;
   }

   .title {
       font-family: 'Nunito', sans-serif;
       font-size: 1.5rem;
       font-weight: 800;
       opacity: 0.8;
       letter-spacing: 1px;
   }

   .title_margin {
       margin-left: 6.796876%;
   }

   .kr {
       font-size: 0.875rem;
       font-family: 'Noto Sans KR', sans-serif;
       line-height: 30px;
       letter-spacing: -0.4px;
       opacity: 0.6;
   }

   .en {
       font-size: 0.875rem;
       font-family: 'Google Sans', sans-serif;
       line-height: 28px;
       opacity: 0.38;
   }

   .kr_1 {
       margin-right: 2.34375%;
       width: calc(50% - 6.796876%);
       margin-left: 6.796876%;
   }

   .en_1 {
       margin-left: 2.34375%;
       width: calc(50% - 6.796876%);
       margin-right: 6.796876%;
   }

   .title_research {
       margin-right: 2.34375%;
       width: calc(50% - 6.796876%);
   }

   .body_research {
       margin-left: 2.34375%;
       width: calc(50% - 6.796876%);
       margin-right: 6.796876%;
   }

   .colorResearch_text {
       flex-direction: column;
       width: calc(50% - 6.796876%);
       margin-right: 2.34375%;
       margin-left: 6.796876%;
   }

   .color_map {
       position: relative;
       margin-left: 2.34375%;
       margin-right: 6.796876%;
       width: calc(50% - 6.796876%);
       height: 0;
   }

   .color_map img {
       position: absolute;
       left: 0;
       top: 0;
       max-width: 100%;
   }

   /* 마진 */

   .mg_cont {
       width: 100%;
   }

   .mg_width {
       max-width: 1280px;
       margin: 0 auto;
   }

   .mg_24 {
       padding-top: 1.875%;
   }

   .mg_48 {
       padding-top: 3.75%;
   }

   .mg_64 {
       padding-top: 5%;
   }

   .mg_40 {
       padding-top: 3.125%;
   }

   .mg_80 {
       padding-top: 6.25%;
   }

   .mg_120 {
       padding-top: 9.375%;
   }

   /* 이미지 사이즈 */

   .img_cont {
       position: relative;
       width: 100%;
       height: 0;
   }

   .img_cont img {
       position: absolute;
       left: 0;
       top: 0;
       max-width: 100%;
   }

   .background {
       padding-top: 48.4375%;
   }

   .deskResearch {
       padding-top: 28.4375%;
   }

   .researchTarget {
       padding-top: 37.8125%;
   }

   .currentSituation {
       padding-top: 40.625%;
   }

   .userResearch {
       padding-top: 53.28125%;
   }

   .color_map {
       padding-top: 26.875%;
   }

   .colorImg {
       padding-top: 83.75%;
   }

   .finding {
       padding-top: 60.15625%;
   }

   .caseStudy {
       padding-top: 41.25%;
   }

   .ideation {
       padding-top: 29.375%;
   }

   .logo {
       padding-top: 46.25%;
   }

   .solutionImg {
       padding-top: 38.90625%;
   }

   .image_2d {
       padding-top: 54.6875%;
   }

   .image_3d{
       padding-top: 56.2050359%;
   }

   .stakeholder {
       padding-top: 47.65625%;
   }

   .web_text {
       padding-top: 21.25%;
   }

   .web_img {
       padding-top: 375%;
   }