.header_preloader {
    opacity: 0.2;
    top: -80px;
}

.header_loader {
    opacity: 1;
    top: 0;
}

.preloader {
    position: fixed;
    width: 100%;
    background-color: #2F75FF;
    z-index: 9999;
    opacity: 1;
    height: 0%;
    top: 0;
    -webkit-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1);
    /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -moz-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -o-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -moz-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -o-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    /* custom */
}

.gray {
    background-color: #F9F9F9;
}

.gray2 {
    background-color: #F3F3F3;
}

.greenback {
    background-color: #33E787;
}

.thumbnail {
    width: 100vw;
    height: 0;
    padding-top: 62.5%;
    position: relative;
    z-index: 1000;
}

.thumbnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.wrap {
    width: 100%;
    position: relative;
}

.img_wrap {
    min-width: 1440px;
}

.margin {
    margin: 0 40px;
}

.cont {
    max-width: 1280px;
    margin: 0 auto;
}

.cont_s {
    max-width: 1112px;
    margin: 0 auto;
}

/*        info*/
.info {
    display: flex;
}

.info_cont_1 {
    width: 34.127697841726619%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_cont_2 {
    width: 60.476618705035971%;
    margin-left: 5.39568345%;
}

.info_img {
    margin-top: 16px;
    width: 84%;
    height: auto;
}

.info_title {
    opacity: 0.87;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-top: 8px;
}

.info_kr_title {
    opacity: 0.6;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.125rem;
    letter-spacing: -0.6px;
    line-height: 32px;
}

.info_body {
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-top: 8px;
}

.info_body_align {
    display: flex;
}

.info_body_align .info_detail:first-child {
    margin-right: 8%;
}

.info_align {
    display: flex;
}

/* info */

.text_cont {
    max-width: 1112px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img_cont {
    position: relative;
    width: 100%;
    height: 0;
}

.img_cont img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.img_wrap img {
    width: 100%;
    height: auto;
    z-index: -1;
}

.body {
    display: flex;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.white {
    color: #FFFFFF;
    opacity: 0.6;
}

.white_2 {
    color: #FFFFFF;
    opacity: 0.8;
}

.green {
    color: #33E787;
}

.bg_title_cont_1 {
    width: calc(50% - 2.6978417%);
}

.bg_title_cont_2 {
    width: calc(50% - 2.6978417%);
    margin-left: calc(50% + 2.6978417%);
}

.bg_title_1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 89px;
    letter-spacing: -3.7px;
    color: #33E787;
}

.bg_title_2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 89px;
    letter-spacing: -3.7px;
    color: #FFFFFF;

}

.bg_title_3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    font-size: 3.75rem;
    line-height: 89px;
    letter-spacing: -3.7px;
    color: #33E787;
}

.bg_title_4 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 89px;
    letter-spacing: -3.7px;
    color: #FFFFFF;
}

.bg_en_title_1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    letter-spacing: -0.6px;
    line-height: 44px;
    opacity: 0.6;
    color: #33E787;
}

.bg_en_title_2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    letter-spacing: -0.6px;
    line-height: 44px;
    opacity: 0.6;
    color: #FFFFFF;
}

.ov_title_1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -1px;
    opacity: 0.87;
    line-height: 29px;
}

.task_title_cont_1 {
    width: 50%;
    margin-right: 50%;
}

.task_title_cont_2 {
    width: 50%;
    margin-left: 50%;
    margin-top: -2.87769784%;
}

.task_title_1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    opacity: 0.87;
    line-height: 36px;
}

.task_title_2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    opacity: 0.87;
    line-height: 36px;
}

.task_title_3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    opacity: 0.87;
    line-height: 36px;
}

.task_en_title_1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -0.1px;
    line-height: 26px;
    opacity: 0.6;
}

.task_en_title_2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: -0.1px;
    line-height: 26px;
    opacity: 0.6;
}

.sit_title_cont_1 {
    width: 50%;
    margin-right: 50%;
}

.sit_title_cont_2 {
    width: 50%;
    margin-left: 50%;
    margin-top: -5.03971223%;
}

.sit_title_1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    opacity: 0.87;
    line-height: 52px;
}

.sit_title_2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    opacity: 0.87;
    line-height: 52px;
    display: inline;
}

.sit_title_3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    opacity: 0.87;
    line-height: 52px;
    display: inline;
}

.sit_title_4 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    opacity: 0.87;
    line-height: 52px;
    background-color: #33E787;
    display: inline;
}

.inv_cont {
    display: flex;
}

.inv_title_cont_1 {
    width: calc(50% - 2.6978417%);
    margin-right: 5.39568345%;
    display: flex;
    justify-content: space-between;
}

.inv_title_cont_2 {
    width: calc(50% - 2.6978417%);
    margin-top: 12px;
}

.inv_line {
    width: calc(100% - 130px);
    height: 64px;
    background-image: linear-gradient(to right, #33E787, #33E787);
    background-size: 92% 4px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 100% 50%;
}

.inv_title_1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    opacity: 0.87;
    line-height: 37px;
    display: inline;
}

.inv_title_2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    opacity: 0.87;
    line-height: 37px;
    display: inline;
}

.inv_title_3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    opacity: 0.87;
    line-height: 37px;
    display: inline;

}

.inv_en_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: -0.1px;
    line-height: 26px;
    opacity: 0.6;
}

.inv_body_1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    opacity: 0.87;
    font-size: 1.25rem;
    letter-spacing: -1.2px;
    line-height: 36px;
}

.inv_body_2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    color: #33E787;
    letter-spacing: -0.4px;
    line-height: 20px;
    padding-top: 12px;
}

.inv_highligt {
    background-color: #33E787;
    display: inline-block;
}

.sol_title_1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    color: #FFFFFF;
    line-height: 37px;
    display: inline;
}

.sol_title_2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: -1.4px;
    color: #FFFFFF;
    line-height: 37px;
    display: inline;
}

.sol_en_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: -0.1px;
    line-height: 26px;
    opacity: 0.8;
}

.pob_num_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    letter-spacing: -1.68px;
    line-height: 36px;
    opacity: 0.87;
}

.body_kr {
    opacity: 0.8;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 28px;
    letter-spacing: -1px;
}

.body_en {
    opacity: 0.38;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 26px;
    letter-spacing: -0.2px;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* img height */
.taskAnalysis {
    padding-top: 52.8125%;
}

.currentSit {
    padding-top: 36.25%;
}

.solution {
    padding-top: 37.96875%;
}

.sol_z-index {
    z-index: 5;
    transform: translateY(60%);
}

.DesignSystem_1 {
    padding-top: 19.375%;
}

.DesignSystem_2 {
    padding-top: 42.03125%;
}

.DesignSystem_3 {
    padding-top: 77.96875%;
}

.ui_1 {
    padding-top: 65.625%;
}

.ui_2 {
    padding-top: 8.64%;
}

.ui_3 {
    padding-top: 91.84%;
}

.panel_1 {
    padding-top: 105.3125%;
}

.panel_2 {
    padding-top: 78.125%;
}

.panel_3 {
    padding-top: 102.5%;
}

.panel_gray {
    background-color: rgba(0, 0, 0, 0.04);
}

.panel_4 {
    padding-top: 71.875%;
}

.makePossible_1 {
    padding-top: 47.5%;
}

.makePossible_2 {
    padding-top: 37.5%;
}

.bm {
    padding-top: 49.0625%;
}

.hackerthon {
    padding-top: 53.125%;
}

/*  margin */
.mg_cont {
    max-width: 1280px;
    margin: 0 auto;
}

.mg_24 {
    padding-top: 1.875%;
}

.mg_48 {
    padding-top: 3.75%;
}

.mg_64 {
    padding-top: 5%;
}

.mg_40 {
    padding-top: 3.125%;
}

.mg_80 {
    padding-top: 6.25%;
}

.mg_120 {
    padding-top: 9.375%;
}

.mg_140 {
    padding-top: 10.9375%;
}

.mg_152 {
    padding-top: 11.875%;
}

.mg_160 {
    padding-top: 12.5%;
}

.bg_mg_1 {
    padding-top: 11.51079%;
    padding-bottom: 3.59712230%;
}

.bg_mg_2 {
    padding-top: 10.79136699%;
}

.ov_mg_1 {
    padding-top: 28.18181818%;
    padding-bottom: 9.0909090909%;
}

.ov_mg_2 {
    padding-top: 10.9090909090%;
    padding-bottom: 10.9090909090%;
}

.task_mg {
    padding-bottom: 5.035971223%;
}

.sit_mg {
    padding-bottom: 5.035971223%;
}

.inv_mg_1 {
    margin-bottom: 11.5107913%;
}

.inv_mg_2 {
    margin-bottom: 4.5801526%;
}

.inv_mg_3 {
    margin-bottom: 5.7553956%;
}

.inv_mg_4 {
    margin-top: 48px;
}

.sol_mg_1 {
    margin-top: 13.669064%;
    margin-bottom: 5.7553956%;
}

.sol_mg_2 {
    margin-top: 64px;
}

.pob_mg_1 {
    margin-bottom: 6.47482014%;
}

.pob_mg_2 {
    margin-bottom: 2.51798576%;
}

.title_pos {
    position: absolute;
    top: 0;
    left: 0;
}

.overview_body {
    display: flex;
    flex-direction: row-reverse;
}

.overview_body_child {
    width: calc(50% - 10.431654%);
    margin-right: 7.73381294%
}

.body_cont_left {
    margin-right: 2.6978417%;
    width: calc(50% - 2.6978417%);
}

.body_cont_right {
    margin-left: 2.6978417%;
    width: calc(50% - 2.6978417%);
}


@media(max-width:960px) {
    .info {
        flex-direction: column;
    }

    .info_cont_1 {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .info_img {
        width: 80%;
        margin-top: 12px;
        margin-left: -4px;
    }

    .info_cont_2 {
        width: 100%;
        margin-left: 0;
        padding-top: 56px;
        flex-direction: row;
    }

    .info_body_align .info_detail:first-child {
        margin-right: 0;
    }

    .info_title,
    .info_kr_title,
    .info_body {
        font-size: 1rem;
        line-height: 28px;
    }

    .info_detail,
    .project_title {
        width: 50%;
    }

    .info_body_align {
        justify-content: space-between;
    }
}

@media(max-width:768px){

    .body {
        flex-direction: column;
    }

    .body_kr {
        margin-right: 0;
        width: 100%;
    }

    .body_en {
        margin-left: 0;
        width: 100%;
        margin-top: 4.48%;
    }

    .bg_title_cont_1 {
        width: 100%;
    }

    .bg_title_cont_2 {
        width: 100%;
        margin-left: 0;
    }

    .bg_title_1,
    .bg_title_2,
    .bg_title_3,
    .bg_title_4 {
        font-size: 3.5rem;
        line-height: 68px;
    }

    .bg_en_title_1,
    .bg_en_title_2 {
        font-size: 1.25rem;
        line-height: 32px;
    }

    .bg_mg_1 {
        padding-top: 24%;
        padding-bottom: 12%;
    }

    .bg_mg_2 {
        padding-top: 16%;
    }

    .overview_body_child {
        width: 100%;
    }

    .ov_mg_2 {
        padding-bottom: 0;
    }

    .task_title_cont_2 {
        margin-top: 8%;
        margin-left: 50%;
        width: 50%;
    }

    .task_title_1,
    .task_title_2,
    .task_title_3,
    .inv_title_1,
    .inv_title_2,
    .inv_title_3,
    .sol_title_1,
    .sol_title_2,
    .sol_title_3,
    .pob_num_title {
        font-size: 1.5rem;
        line-height: 32px;
    }

    .task_mg {
        padding-bottom: 12%;
    }

    .title {
        font-size: 0.875rem;
    }

    .sit_mg {
        padding-bottom: 12%;
    }

    .sit_title_cont_1 {
        width: 100%;
        margin-right: 0;
    }

    .sit_title_cont_2 {
        width: 100%;
        margin-left: 0;
        margin-top: 8%;
    }

    .inv_mg_3 {
        margin-bottom: 12%;
    }

    .inv_cont {
        flex-direction: column;
    }

    .inv_title_cont_1 {
        width: 100%;
        margin-right: 0;
    }

    .inv_title_cont_2 {
        width: 100%;
        margin-top: 64px;
    }

    .sol_mg_1 {
        margin-top: 24%;
        margin-bottom: 12%;
    }

    .sol_mg_2 {
        margin-top: 8%;
    }

    .sol_z-index {
        transform: translateY(-50%);
        top: 56%;
    }

}

@media(max-width:640px) {

    .info_title,
    .info_kr_title,
    .info_body {
        font-size: 0.875rem;
        line-height: 24px;
    }


    .info_body {
        font-size: 0.875rem;
        line-height: 24px;
    }
}