body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #F8F8F8;
}

.header_preloader {
    opacity: 0.2;
    top: -80px;
}

.header_loader {
    opacity: 1;
    top: 0;
}

.preloader {
    position: fixed;
    width: 100%;
    background-color: #2F75FF;
    z-index: 9999;
    opacity: 1;
    height: 100%;
    top: -100%;
    -webkit-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1);
    /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -moz-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -o-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -moz-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -o-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    /* custom */
}

.thumbnail {
    width: 100vw;
    height: 0;
    padding-top: 62.5%;
    position: relative;
    z-index: 1000;
}

.thumbnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.wrap {
    width: 100%;
}

.margin {
    margin: 0 40px;
}

.cont {
    /* max-width: 1280px; */
    width: 1280px;
    margin: 0 auto;
}

.cont_s {
    /* max-width: 1112px; */
    width: 1112px;
    margin: 0 auto;
}

.cont_fixed {
    width: 1112px;
    margin: 0 auto;
}

.cont_stc {
    width: 1112px;
    margin: 0 auto;
    padding: 240px 0;
}

.cont_left {
    width: calc(50% - 2.6978417%);
}

.cont_right {
    width: calc(50% - 2.6978417%);
    margin-left: auto;
}

/*        info*/
.info {
    display: flex;
}

.info_cont_1 {
    width: 34.127697841726619%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_cont_2 {
    width: 60.476618705035971%;
    margin-left: 5.39568345%;
}

.info_img {
    width: 80px;
    height: 80px;
    background-color: #2F75FF;
}

.info_title {
    opacity: 0.87;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-top: 4px;
}

.info_kr_title {
    opacity: 0.6;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.125rem;
    letter-spacing: -0.6px;
    line-height: 32px;
}

.info_body {
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-top: 4px;
}

.info_body_align {
    display: flex;
}

.info_body_align .info_detail:first-child {
    margin-right: 8%;
}

.info_align {
    display: flex;
}

/* info */
.text_cont {
    /* max-width: 1112px; */
    width: 1112px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img_cont {
    position: relative;
    width: 100%;
    height: 0;
}

.img_cont img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.body {
    display: flex;
}

.body_right {
    margin-left: auto;
    width: calc(50% - 2.6978417%);
}

.body_left {
    margin-right: auto;
    width: calc(50% - 2.6978417%);
}


.title_1 {
    /* max-width: 1112px; */
    width: 1112px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: #2F75FF;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 46px;
}

.title_2 {
    /* max-width: 1112px; */
    width: 1112px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: #2F75FF;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
}

.title_3 {
    font-family: 'Montserrat', sans-serif;
    color: #2F75FF;
    font-weight: 700;
    font-size: 3rem;
    line-height: 56px;
}

.body_kr {
    margin-right: 2.6978417%;
    width: calc(50% - 2.6978417%);
    opacity: 0.8;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 27px;
    letter-spacing: -0.8px;
}

.body_en {
    margin-left: 2.6978417%;
    width: calc(50% - 2.6978417%);
    opacity: 0.38;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 26px;
    letter-spacing: -0.2px;
}

.kr {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    opacity: 0.8;
    font-size: 0.875rem;
    line-height: 28px;
    letter-spacing: -0.8px;
}

.en {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    opacity: 0.38;
    font-size: 0.875rem;
    line-height: 26px;
    letter-spacing: -0.2px;
}

.btn_cont {
    display: flex;
}

.btn_1 {
    width: 176px;
    height: 56px;
    background-color: rgba(47, 117, 255, 1.0);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    z-index: 3;
}

.btn_2 {
    width: 176px;
    height: 56px;
    background-color: rgba(47, 117, 255, 0.1);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgba(47, 117, 255, 0.6);
    z-index: 3;
}

/* background */
.bg_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 408px 0;
}

.bg_cont .svg_cont {
    position: relative;
    width: 344px;
    height: 344px;
}

.bg_cont .svg_cont svg {
    position: absolute;
    top: 0;
    left: 0;
}

.bg_title_b,
.bg_title_w {
    position: absolute;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: -0.37px;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.bg_title_b {
    color: #2F75FF;
}

.bg_title_w {
    color: white;
}

.bg_txt_before {
    transform: translateY(160px) rotateX(180deg) scale(1.0);
    opacity: 0;
}

.bg_txt_after {
    transform: translateY(0) rotateX(0deg) scale(1.0);
    opacity: 1.0;
    -webkit-transition: opacity 750ms ease 100ms, transform 750ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;
    -moz-transition: opacity 750ms ease 100ms, transform 750ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;
    -o-transition: opacity 750ms ease 100ms, transform 750ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;
    transition: opacity 750ms ease 100ms, transform 750ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;

    -webkit-transition-timing-function: ease, cubic-bezier(0, 0.7, 0.29, 0.97);
    -moz-transition-timing-function: ease, cubic-bezier(0, 0.7, 0.29, 0.97);
    -o-transition-timing-function: ease, cubic-bezier(0, 0.7, 0.29, 0.97);
    transition-timing-function: ease, cubic-bezier(0, 0.7, 0.29, 0.97);
}

.bg_txt_fadeOut {
    opacity: 0;
}

.bg_x {
    margin: 0 40px;
}

@keyframes x_up {
    to {
        transform: translateY(-80px);
        opacity: 0;
    }
}

@keyframes drawingPath {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fillPath {
    from {
        fill: transparent;
    }

    to {
        fill: #2F75FF;
    }
}

.bg_MnS_txt {
    font-family: 'Montserrat', 'san-selif';
    font-weight: 700;
    font-size: 3.25rem;
    color: white;
    line-height: 63px;
}

.bg_MnS_before {
    font-family: 'Montserrat', 'san-selif';
    font-weight: 700;
    font-size: 3.25rem;
    color: white;
    line-height: 63px;
}

/* material Identity */

.stry_cont {
    display: flex;
    width: 744px;
    margin: 0 auto;
    padding: 80px 0;
}

.stry_txt {
    color: #2F75FF;
    font-family: 'Montserrat', 'san-selif';
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 63px;
    display: flex;
    align-items: center;
}

.stry_M {
    width: 272px;
    height: 272px;
    background-color: #2F75FF;
}

.stry_S {
    width: 272px;
    height: 272px;
    background-color: #2F75FF;
    border-radius: 50%;
}

.dash {
    width: 6px;
    height: 56px;
    margin-left: 4px;
    background-color: #2F75FF;
    animation: dashBlink 1.5s linear infinite;
}

@keyframes dashBlink {
    0% {
        opacity: 30%;
    }

    49% {
        opacity: 30%;
    }

    50% {
        opacity: 10%;
    }

    99% {
        opacity: 10%;
    }

    100% {
        opacity: 30%;
    }
}


.main_txt_cont_1 {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.main_txt_1 {
    font-family: 'Montserrat', 'san-selif';
    font-weight: 700;
    font-size: 3.25rem;
    color: white;
    line-height: 63px;
    display: flex;
}

.main_txt_cont_2 {
    position: absolute;
    top: 151px;
    left: 380px;
}

.main_txt_cont_3 {
    position: absolute;
    top: 405px;
    left: 732px;
}

.main_txt_2 {
    font-family: 'Montserrat', 'san-selif';
    font-weight: 700;
    font-size: 3.25rem;
    color: #2F75FF;
    line-height: 63px;
    display: flex;
}

.txt_before {
    transform: translateY(200px) rotateX(180deg) scale(0.6);
    opacity: 0;
}

.txt_after {
    transform: translateY(0px) rotateX(0deg) scale(1.0);
    opacity: 1.0;
    -webkit-transition: opacity 1000ms ease 100ms, transform 1000ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;
    -moz-transition: opacity 1000ms ease 100ms, transform 1000ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;
    -o-transition: opacity 1000ms ease 100ms, transform 1000ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;
    transition: opacity 1000ms ease 100ms, transform 1000ms cubic-bezier(0, 0.7, 0.29, 0.97) 100ms;
    /* custom */

    -webkit-transition-timing-function: ease, cubic-bezier(0, 0.7, 0.29, 0.97);
    -moz-transition-timing-function: ease, cubic-bezier(0, 0.7, 0.29, 0.97);
    -o-transition-timing-function: ease, cubic-bezier(0, 0.7, 0.29, 0.97);
    transition-timing-function: ease, cubic-bezier(0, 0.7, 0.29, 0.97);
}

.main_1 {
    width: 554px;
    height: 554px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main_2 {
    height: 769px;
}

.MnS_1 {
    width: 272px;
    height: 272px;
    background-color: white;
    position: absolute;
}

.MnS_2 {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    background-color: white;
    top: 386px;
    left: 386px;
    position: absolute;
}

.MnS_gradient {
    width: 554px;
    height: 554px;
    position: absolute;
}

.FmTs {
    width: 162px;
    height: 162px;
    opacity: 1.0;
    fill: #2F75FF;
    position: absolute;
}

.FmTs2 {
    width: 102px;
    height: 102px;
    margin: 30px;
    border-radius: 50%;
    opacity: 1.0;
    background-color: #2F75FF;
    position: absolute;
}

.FmTs_ani_cont {
    width: 192px;
    height: 192px;
    padding: 40px;
    position: relative;
    margin: auto;
}

.FmTs_ani {
    fill: #2f75ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FmTs_cir {
    width: 176px;
    height: 176px;
    background-color: #2f75ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.canvas_cont {
    width: 100%;
    height: 960px;
    display: flex;
    justify-content: center;
}

/* Interaction Library*/
.material_ani_cont {
    width: 140px;
    height: 140px;
    padding: 40px;
    position: relative;
    margin: auto;
}

.svgAni {
    fill: #2f75ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes CircleBounce {
    0% {
        top: 50%;
    }

    5% {
        top: 51%;
    }

    10% {
        top: 53%;
    }

    15% {
        top: 57%;
    }

    20% {
        top: 63%;
    }

    25% {
        top: 71%;
    }

    30% {
        top: 81%;
    }

    35% {
        top: 93%;
    }

    40% {
        top: 107%;
        width: 63.6363636363%;
        height: 63.6363636363%;
    }

    45% {
        top: 123%;

        width: 68%;
        height: 55%;
    }

    50% {
        top: 125%;
        width: 75%;
        height: 40%;
    }

    55% {
        top: 107%;
        width: 68%;
        height: 55%;
    }

    65% {
        top: 80%;
        width: 63.6363636363%;
        height: 63.6363636363%;
    }

    70% {
        top: 65%;
    }

    75% {
        top: 57%;
    }

    80% {
        top: 54%;
    }

    85% {
        top: 52%;
    }

    90% {
        top: 51%;
    }


    95% {
        top: 50%;
    }

    100% {
        top: 50%;
    }

}

.Circle {
    width: 63.6363636363%;
    height: 63.6363636363%;
    background-color: #2f75ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.CirclePop {
    animation-name: CircleBounce;
    animation-delay: 0.8s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: all 2000ms cubic-bezier(0.630, 0, 0.410, 1);
}

.CirclePop:hover {
    animation-play-state: paused;
}

/* material interaction */

/* page laoder interaction */
.pageLoader_cont {
    width: 100%;
    height: 496px;
    position: relative;
    overflow: hidden;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageLoader {
    width: 100%;
    height: 100%;
    background-color: #2F75FF;
    position: absolute;
    transform: translateY(-101%);
}

.load_content img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* page laoder interaction */

/* text interaction */
.text_ix {
    font-family: 'Montserrat', 'san-selif';
    font-weight: 700;
    font-size: 3.25rem;
    color: #2F75FF;
    line-height: 63px;
    display: flex;
}

/* text interaction */

/* canvas */
.canvas_wrap {
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: center;
}

/* canvas */
.blue {
    background-color: #2F75FF;
}

.gray {
    background-color: #EFEFEF;
}

.object {
    position: relative;
    overflow: hidden;
    /* background-color: red; */
    width: 100%;
    height: 760px;
}

.object img {
    position: absolute;
    width: 100%;
    min-width: 1280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  margin */
.p_mg {
    margin-top: 32px;
}

.p_mg_2 {
    margin-top: 48px;
}


.ix_mg_1 {
    margin-top: -96px;
}

.ix_mg_2 {
    margin-top: -240px;
}

.ix_mg_3 {
    margin-top: -40px;
}

.mg_cont {
    width: 100%;
}

.mg_width {
    /* max-width: 1280px; */
    width: 1280px;
    margin: 0 auto;
}

.mg_24 {
    padding-top: 1.875%;
}

.mg_48 {
    padding-top: 3.75%;
}

.mg_64 {
    padding-top: 5%;
}

.mg_40 {
    padding-top: 3.125%;
}

.mg_80 {
    padding-top: 6.25%;
}

.mg_120 {
    padding-top: 9.375%;
}

.mg_160 {
    padding-top: 12.5%;
}

/* footer */
.footer {
    padding: 84px 0;
    margin: 0 auto;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2.34375%;
    width: 526px;
}

.right {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin-left: 2.34375%;
    width: 526px;
}


.right ul li:not(:first-child) {
    opacity: 0.8;
}

.right ul>* {
    height: 23px;
    display: flex;
    align-items: center;
}

.right ul li:first-child {
    font-weight: 600;
}


.right ul li:not(:first-child) {
    padding-top: 16px;
}

/* 

@media(max-width:960px) {
    .info {
        flex-direction: column;
    }

    .info_cont_1 {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .info_img {
        width: 80%;
        margin-top: -12px;
        margin-left: -4px;
    }

    .info_cont_2 {
        width: 100%;
        margin-left: 0;
        padding-top: 56px;
        flex-direction: row;
    }

    .info_body_align .info_detail:first-child {
        margin-right: 0;
    }

    .info_title,
    .info_kr_title,
    .info_body {
        font-size: 1rem;
        line-height: 28px;
    }

    .info_detail,
    .project_title {
        width: 50%;
    }

    .info_body_align {
        justify-content: space-between;
    }
}

@media(max-width:768px) {
    .title {
        font-size: 1.125rem;
    }

    .body {
        flex-direction: column;
    }

    .body_kr {
        margin-right: 0;
        width: 100%;
    }

    .body_en {
        margin-left: 0;
        width: 100%;
        margin-top: 4.48%;
    }
}


@media(max-width:640px) {

    .info_title,
    .info_kr_title,
    .info_body {
        font-size: 0.875rem;
        line-height: 24px;
    }

    .title {
        font-size: 1rem;
    }
} */