.preloader {
    position: fixed;
    width: 100%;
    background-color: #2F75FF;
    z-index: 9999;
    opacity: 1;
    height: 100%;
    top: -100%;
    -webkit-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -moz-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -o-transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    transition: all 500ms cubic-bezier(0.675, 0.005, 0.470, 1.005);
    /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -moz-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    -o-transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    transition-timing-function: cubic-bezier(0.675, 0.005, 0.470, 1.005);
    /* custom */
}

.thumbnail {
    width: 100vw;
    height: 0;
    padding-top: 59.375%;
    position: relative;
    z-index: 1000;
    background-color: #191919;
}

.thumbnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.gray {
    background-color: #F6F6F6;
}

.wrap {
    width: 100%;
}

.margin {
    margin: 0 40px;
}

.cont {
    max-width: 1280px;
    margin: 0 auto;
}

.cont_s {
    max-width: 1112px;
    margin: 0 auto;
}

.text_cont {
    max-width: 1112px;
    margin: 0 auto;
    display: flex;
}

/*        info*/
.info {
    display: flex;
}

.info_cont_1 {
    width: 34.127697841726619%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_cont_2 {
    width: 60.476618705035971%;
    margin-left: 5.39568345%;
}

.info_img {
    margin-top: 8px;
    width: 76%;
    height: auto;
}

.info_title {
    opacity: 0.87;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-top: 4px;
}

.info_kr_title {
    opacity: 0.6;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.125rem;
    letter-spacing: -0.6px;
    line-height: 32px;
}

.info_body {
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-top: 4px;
}

.info_body_align {
    display: flex;
}

.info_body_align .info_detail:first-child {
    margin-right: 8%;
}

.info_align {
    display: flex;
}

/* info */

/* 텍스트 */

.title {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    opacity: 0.8;
    letter-spacing: 0.4px;
}

.kr {
    font-size: 0.875rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.6px;
    opacity: 0.6;
}

.en {
    font-size: 0.875rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 26px;
    opacity: 0.38;
}

.body_kr {
    margin-right: 2.6978417%;
    width: calc(50% - 2.6978417%);
}

.body_en {
    margin-left: 2.6978417%;
    width: calc(50% - 2.6978417%);
}

.title_research {
    margin-right: 2.6978417%;
    width: calc(50% - 2.6978417%);
}

.body_research {
    margin-left: 2.6978417%;
    width: calc(50% - 2.6978417%);
}

.colorResearch_text {
    flex-direction: column;
    width: calc(50% - 2.6978417%);
    margin-right: 2.6978417%;
}

.color_map {
    position: relative;
    margin-left: 2.6978417%;
    width: calc(50% - 2.6978417%);
    height: 0;
}

.color_map img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
}

/* 마진 */

.mg_cont {
    width: 100%;
}

.mg_width {
    max-width: 1280px;
    margin: 0 auto;
}

.mg_24 {
    padding-top: 1.875%;
}

.mg_48 {
    padding-top: 3.75%;
}

.mg_64 {
    padding-top: 5%;
}

.mg_40 {
    padding-top: 3.125%;
}

.mg_80 {
    padding-top: 6.25%;
}

.mg_120 {
    padding-top: 9.375%;
}

/* 이미지 사이즈 */

.img_cont {
    position: relative;
    width: 100%;
    height: 0;
}

.img_cont img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
}

.background {
    padding-top: 48.4375%;
}

.deskResearch {
    padding-top: 28.4375%;
}

.researchTarget {
    padding-top: 37.8125%;
}

.currentSituation {
    padding-top: 40.625%;
}

.userResearch {
    padding-top: 53.28125%;
}

.color_map {
    padding-top: 30.93525179%;
}

.colorImg {
    padding-top: 83.75%;
}

.finding {
    padding-top: 60.15625%;
}

.caseStudy {
    padding-top: 41.25%;
}

.ideation {
    padding-top: 29.375%;
}

.logo {
    padding-top: 46.25%;
}

.solutionImg {
    padding-top: 38.90625%;
}

.image_2d {
    padding-top: 54.6875%;
}

.image_3d {
    padding-top: 56.2050359%;
}

.stakeholder {
    padding-top: 47.65625%;
}

.web_text {
    padding-top: 21.25%;
}

.web_img {
    padding-top: 393.75%;
}


@media(max-width:960px) {
    .info {
        flex-direction: column;
    }

    .info_cont_1 {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .info_img {
        width: 64%;
    }

    .info_cont_2 {
        width: 100%;
        margin-left: 0;
        padding-top: 56px;
        flex-direction: row;
    }

    .info_body_align .info_detail:first-child {
        margin-right: 0;
    }

    .info_title,
    .info_kr_title,
    .info_body {
        font-size: 1rem;
        line-height: 28px;
    }

    .info_detail,
    .project_title {
        width: 50%;
    }

    .info_body_align {
        justify-content: space-between;
    }
}

@media(max-width:768px) {
    .title {
        font-size: 1.125rem;
    }

    .text_cont {
        flex-direction: column;
    }

    .body_kr {
        margin-right: 0;
        width: 100%;
    }

    .body_en {
        margin-left: 0;
        width: 100%;
        margin-top: 4.48%;
    }

    .body_research {
        margin-top: 6%;
        width: 100%;
        margin-left: 0;
    }

    .colorResearch_text {
        width: 100%;
        margin-right: 0;
    }

    .color_map {
        margin-left: 0;
        width: 64%;
        margin-top: 8%;
        margin-bottom: 12%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media(max-width:640px) {

    .info_title,
    .info_kr_title,
    .info_body {
        font-size: 0.875rem;
        line-height: 24px;
    }

    .title {
        font-size: 1rem;
    }
}